.header {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #001eff;
    background-color: #000000;
    color: rgb(246, 246, 97);
}
.header .logoHeader {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoHeader img {
    width: 30%;
}

.header .navHeader {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navHeader nav {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navHeader nav ul {
    width: 100%;
    list-style: none;
    font-size: 35px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navHeader ul li {
    transition: 0.4s;
}
.navHeader ul li a {
    text-decoration: none;
    color: #f8e44e;
}

.navHeader ul li:hover {
    transform: scale(1.05);
}
.navHeader ul li a:hover {
    color: #040fe3;
}
